<p>footer works!</p>
<div class="container my-5">
  <footer class="bg-dark text-center text-lg-start text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <br /><br /><br />
          <h5 class="text-warning">avnMotors</h5>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase text-warning">Nuestros servicios</h5>

          <ul class="list-unstyled">
            <li>
              <p>Mecánica Básica</p>
            </li>
            <li>
              <p>Mecánica Especializada</p>
            </li>
            <li>
              <p>Estética Automotriz</p>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase text-warning">Nuestros Productos</h5>

          <ul class="list-unstyled">
            <li>
              <p>Accesorios</p>
            </li>
            <li>
              <p>Repuestos</p>
            </li>
            <li>
              <p>Instaciones</p>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase text-warning">Escribenos</h5>

          <ul class="list-unstyled">
            <li>
              <p></p>
              <p></p>
              <p></p>
              <a
                href="https://github.com/NataliaNova"
                target="_blank"
                class="text-white"
                ><i class="fas fa-at fa-fw fa-sm me-2"></i>NatNov GitHub</a
              >
            </li>
            <li>
              <a
                href="https://github.com/Al3jox"
                target="_blank"
                class="text-white"
                ><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>Al3jox
                GitHub</a
              >
            </li>
            <li>
              <a
                href="https://github.com/svannesa"
                target="_blank"
                class="text-white"
                ><i class="fas fa-envelope fa-fw fa-sm me-2"></i>Svannesa
                GitHub</a
              >
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2021 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">BIT</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
<!-- End of .container -->
